# Manipulate data in Azure SQL Database using Python and Jupyter Notebook

## Import the library

In [ ]:
import pyodbc

## Open the connection

In [ ]:
server = '<server>.database.windows.net'
database = '<database>'
username = '<username>'
password = '<password>'
driver= '{ODBC Driver 17 for SQL Server}'
conn = pyodbc.connect('DRIVER=' + driver + ';SERVER=' +
    server + ';PORT=1433;DATABASE=' + database +
    ';UID=' + username + ';PWD=' + password)

## Create a cursor object

In [ ]:
cursor = conn.cursor()

## Insert a new movie

In [ ]:
cursor.execute("INSERT INTO movies "
    "(movie_title, released_year, runtime, genre, rating, director, "
    "star1, star2, number_of_votes, gross) "
    "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", 
    ("The Imitation Game", 2014, 114, "Biography", 80, 
    "Morten Tyldum", "Benedict Cumberbatch", "Keira Knightley", 
    685201, 91125683))

## Commit the changes

In [ ]:
conn.commit()

## Read data

In [ ]:
# Read data
cursor.execute("SELECT "
    "movie_id, movie_title, director "
    "FROM movies")
rows = cursor.fetchall()

# Print data
for row in rows:
    print(row)

## Update a data row in the table

In [ ]:
cursor.execute("UPDATE movies "
    "SET genre = ? "
    "WHERE movie_title = ?", 
    ("Biography", "The Theory of Everything"))

print("Updated",cursor.rowcount,"row(s) of data.")

In [ ]:
# Read data
cursor.execute("SELECT "
    "movie_id, movie_title, genre "
    "FROM movies "
    "WHERE movie_title = ?",
    ("The Theory of Everything", ))
rows = cursor.fetchall()
print(rows[0])

## Delete data

In [ ]:
cursor.execute("DELETE FROM movies "
    "WHERE genre = ?", 
    ("Horror", ))
print("Deleted",cursor.rowcount,"row(s) of data.")

## Order data

In [ ]:
# Read data
cursor.execute("SELECT movie_title, released_year, genre, gross "
    "FROM movies "
    "WHERE genre = ? AND released_year BETWEEN ? AND ? "
    "ORDER BY released_year ASC, gross DESC",
    ("Action", 2009, 2019))
rows = cursor.fetchall()

# Print data
for row in rows:
    print(row)

## Use the *MAX()* function

In [ ]:
# Read data
cursor.execute("SELECT MAX(gross) "
    "FROM movies "
    "WHERE director = ? ",
    ("Martin Scorsese", ))
rows = cursor.fetchall()

# Print data
print(rows[0])

## Close the connection

In [ ]:
conn.commit()
cursor.close()
conn.close()